<div class="container-fluid">
  <h2>Most Recent Motorsport Articles:</h2>
<ul class="list-group list-group-flush">
  {{#each articles}}
    <li class="list-group-item" id='article'>
      <p><a href="https://us.motorsport.com{{link}}"  class="text-body">Title: {{title}}</a></p>
      <button type="button" class="btn btn-outline-dark" id='save-article'>Save this article</button>
      <button type="button" class="btn btn-outline-dark" id='viewComment'>View comments</button>
      <button type="button" class="btn btn-outline-dark" id='comment-btn'>Leave a comment</button>
    </li>
    {{/each}}
  </ul>

  <div class="modal" id='commentModal' tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" placeholder='Enter comment here'>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id='cancel-btn'>Cancel</button>
          <button type="button" class="btn btn-primary" id='addComment'>Add comment</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.list-group-item').each(function (num) {
    $(this).attr('id', this.id + num);
  });

  $('body').on('click', '#comment-btn', function (event) {
    event.preventDefault();
    console.log('comment button pressed');
    $('#commentModal').show();
  });

  $('#cancel-btn').on('click', function () {
    $('#commentModal').hide();
  });

  $('.close').on('click', function() {
        $('#commentModal').hide();
  })

  $('body').on('click', '#viewComment', function() {
    console.log('view comment button')
  })

  $('body').on('click', '#save-article', function() {
    console.log('save article button');
  })
</script>